* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: #FF3352;
}

a:hover {
    color: white;
    background-color: #fa8798;
}

p {
    font-family: Calibri, sans-serif;
    font-size: 1.2em;
    text-align: justify;
    color: #707A6C;
}

h3 {
    font-weight: 700;
    color: #a5a5a5;
    padding: 1%;
}

h5 {
    max-width: 100%;
    padding: 2%;
    text-align: justify;
}

header {
    max-width: 100%;
    height: 400px;
    align-content: center;
    background: url("../images/joana-scheer-background.png") center;
    background-size: cover;

    .header-responsive-img img {
        display: none;
    }
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/joana-scheer-background-down.png"), url("../images/sua-segunda-imagem.png");
    background-position: center top, center bottom;
    background-attachment: fixed, fixed;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    position: relative;
}

.menu {
    display: block;
    
    li {
        background-color: #f2f2f2;

        a {
            color: #000000;
        }

        a:hover {
            background-color: white;
            color: #707A6C;
        }
    }
}

.team {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4%;

    img{
        width: 50%;
    }

    h3 {
        color: #fa8798;
    }

    p {
        width: 100%;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

form {
    max-width: 100%;
    width: 70%;
    margin-bottom: 20%;
}

footer {
    background-color: #FF3352;
    background-size: cover;

    p {
    clear: both;
    width: 100%;
    position: relative;
    text-align: left;
    font-family: Calibri, sans-serif;
    font-variant: small-caps;
    color: white;
    font-size: 1em;
    }

    img {
        filter: invert(100);
        transition: filter 0.5s ease;
    }

    a {
        color: white;
    }

    a:hover {
        text-decoration: none;
    }

    .responsive-footer {
        display: none;
    }

    #coluna1 img {
        width: 5%;
    }

    #icons {
        width: 20%;
        text-align: right;
    }

    #icons a:hover {
        text-decoration: none;
        background-color: transparent;
    }

    #icons img {
        width: 12%;
        margin-right: 5%;
    }

    #icons div {
        display: inline-block;
    }

}

@media screen and (max-width:480px) {

    header {
        img {
            max-width: 100%;
            width: 20%;
            display: block;
            margin: 50% auto auto auto;
            text-align: center;
        }

        .header-responsive-img img {
            display: block;
        }
    }
    

    .left-col {
        width: 100%;
        margin: 0;
        padding: 0;

        h3 {
            color: #2b2b2b;
            font-weight: 600;
            text-align: center;
        }

        h5 {
            margin: 0 5%;
        }

        p {
            font-size: 1.4em;
            color: #2b2b2b;
            margin: 0 5%;
        }

        img {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .date p{
            width: 100%;
            height: auto;
            color: #000000;
            background-color: white;
        }

        iframe {
            width: 100%;
            margin-top: 10%;
        }

    }

    .right-col {
        width: 100%;
        margin: 30% 0;

        .joana img {
            margin: 0;
        }
    }

    footer {
        p {
            font-size: 0.8em;
        }

        #coluna1 img {
            width: 15%;
        }
        #coluna2 {
            width: 10%;
        }
        #coluna2 img {
            width: 28%;
        }
    }

}

